Source: glide
Section: libs
Priority: optional
Build-Depends: dbs (>= 0.27), debhelper (>= 4.1.16), autoconf, automake1.7,
  libtool (>= 1.5), xlibs-dev
Maintainer: Guillem Jover <guillem@debian.org>
Standards-Version: 3.6.1

Package: glide2-bin
Section: graphics
Architecture: i386
Depends: ${shlibs:Depends}
Suggests: device3dfx-module, device3dfx-source
Description: Graphics library for 3Dfx Voodoo based cards - support programs
 This is a support package which should be installed if you have a
 card based on 3dfx Interactive, Inc's Voodoo chipsets.

Package: libglide2
Section: libs
Architecture: i386
Depends: ${shlibs:Depends}, pciutils, debconf (>= 0.5)
Recommends: glide2-bin
Suggests: device3dfx-module, device3dfx-source
Conflicts: libglide2
Description: Graphics library for 3Dfx Voodoo based cards - shared libraries
 This package allows you to use the 3D functions of cards based on
 3dfx Interactive, Inc's Voodoo 2 chipsets. You should install it if
 you have such a card.
 .
 Note, this is NOT the package you want for Voodoo Banshee, Voodoo 3,
 Voodoo 4, or Voodoo 5.
 .
 Also note that for the moment the original Voodoo Graphics chipset
 is no longer supported.
 .
 NOTE: You'll need the /dev/3dfx kernel driver to use this library.

Package: libglide2-dev
Section: libdevel
Architecture: all
Depends: libglide2
Provides: libglide-dev
Conflicts: llibglide-dev
Description: Graphics library for 3Dfx Voodoo based cards - development files
 This package contains the necessary header files, example programs,
 and documentation necessary to develop software for cards based on
 3dfx Interactive, Inc's Voodoo chipsets.

Package: libglide3
Section: libs
Architecture: i386 alpha
Depends: ${shlibs:Depends}, pciutils, debconf (>= 0.5)
Provides: libglide3-alpha
Replaces: libglide3-alpha
Conflicts: libglide3, libglide3-alpha
Description: Graphics library for 3Dfx Voodoo based cards - shared libraries
 This package allows you to use the 3D functions of cards based on
 3dfx Interactive, Inc's Voodoo Banshee, Voodoo 3, Voodoo 4, and
 Voodoo 5, chipsets.
 You should install it if you have such a card.
 .
 NB: This package does NOT need device3dfx, as it is using DRI instead.

Package: libglide3-dev
Section: libdevel
Architecture: all
Depends: libglide3
Provides: libglide-dev, libglide3-alpha-dev
Replaces: libglide2-dev, libglide3-alpha-dev
Conflicts: libglide3-alpha-dev
Description: Graphics library for 3Dfx Voodoo based cards - development files
 This package contains the necessary header files, example programs,
 and documentation necessary to develop software for cards based on
 3dfx Interactive, Inc's Voodoo chipsets.

